@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

button, input[type="button"]{
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #02203c;
  color: white;
  cursor: pointer;
}
